
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
        initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  
    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">

</head>
<figure class="avatar">
    <img class="logo-post" class="centered" height="200px" width="250px" src="assets\image\posttn.png">
</figure>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="assets\image\livreur-destinataire.jpg" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Mes destinataire</h5>
                        <p class="card-text">
                             Ajouter un nouveau distination 
                        </p>
                       <button>
                        <a href="./destinataire" class="btn btn-outline-primary btn-sm">
                            Ajouter 
                        </a></button>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="assets\image\factures.jpg" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Mes bordereaux</h5>
                        <p class="card-text">
                            Consulter les factures
                        </p>
                          
                      <button> <a href="./factures" class="btn btn-outline-primary btn-sm">
                        Mes factures
                    </a></button> 


                    </div>
                </div>
            </div>
        </div>
    </div>